@font-face {
  font-family: iA Writer Mono;
  font-style: italic;
  src: url(assets/iawritermonov-italic.ttf);
}

html, body {
  /** Scroll Snapping */
  scroll-snap-type: y mandatory;
  height: 100%;
}

* {
  font-weight: 400;
}

body {
	font-family: iA Writer Mono, Arial, Helvetica, sans-serif;
  font-size: 2.5vmax;

	background-color: black;
	color: white;
}

h1 {
  margin: 0;
}
h2 {
  margin: 0;
}

section {
	padding: 64px;
	height: 100vh;
  background-size: 60vmax auto;
  background-repeat: no-repeat;
  background-position: center center;

  /** The simple wipe effect */
  background-attachment: fixed; 

  /** Scroll Snapping */
  scroll-snap-align: start;
}

section.image1 {
	background-image: url(assets/image1.jpg);
}

section.image2 {
	background-color: white;
	color: black;
	background-image: url(assets/image2.jpg);
}

section.image3 {
	background-image: url(assets/image3.jpg);
}
